.contenedor{
    background-color: white;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 600px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}

.logo{
    position: absolute;
    width: 250px;
    top:5%;
    left: 41px;
}

.contenedor2 {
    background-color: white;
    width: 350px;
    height: 65px;
    position: absolute;
    display: flex;
    top: 465px;
    margin-left: 590px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}




.info {
    position: absolute;
    font-family: Helvetica;
    font-size: 10.5pt;
    font-weight: normal;
    top: 13px;
    left: 65px;
    color: rgb(55, 55, 55);
}

.registrate {
    position: absolute;
    font-family: Helvetica;
    font-size: 10.5pt;
    font-weight: bold;
    top: 22.5px;
    left: 220px;
    text-decoration: none;
    color: #3e95ef;
}

.descarga {
    position: absolute;
    left: 122px;
    top: 73px;
    font-family: Helvetica;
    font-size: 10.5pt;
    font-weight: 100;
}

.descargaApp {
    position: absolute;
    width: 280px;
    top: 115px;
    left: 35px;
}

/*contenedor para facebook*/

.contenedor3 {

    width: 350px;
    height: 65px;
    position: absolute;
    display: flex;
    margin-top: 200px;
    margin-left: 590px;
}

.opciones {
    position: absolute;
    width: 250px;
    top: 175px;
    left: 41px;
}

.linea{
    position: absolute;
    width: 100px;
    margin-top: 45%;
    margin-left: 12%;
}

.linea2{
    position: absolute;
    width: 100px;
    margin-top: 45%;
    margin-left: 57%;
}

.texto{
    position: absolute;
    font-family: Helvetica;
    font-size: 10px;
    color: gray;
    margin-top: 44%;
    margin-left: 47%;
}

.forget{
    position: absolute;
    font-family: Helvetica;
    font-size: 10px;
    color: gray;
    margin-top: 37%;
    margin-left: 30%;
}