.rectHistorias{
    position: relative;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    width: 350px;
    height: 100px;
    margin-top: 50px;
    margin-left: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
}

.fotoPerfilHistorias{
    width: 40px;
    left:65px;
    top:4px;
    border-radius: 50%;

}

.nombreUsuarioHistorias{
    font-family: Helvetica;
    width: 40px;
    left: 15px;
    color: rgb(92, 92, 92);
    font-size: 8px;
    margin-top: 2px;
   
}

.flecha{
    width: 20px;
    left: 320px;
    top:30px;
    position: absolute;
    filter: drop-shadow(2px 4px 8px #3f3f3f);
}

.flecha2{
    width: 5px;
    left: 10px;
    top:5px;
    position: relative;
}