.rectanguloup{
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display:flex;
    padding: 5px 0;
}

.logoig{
    width: 90px;
    top: 20px;
    left: 400px;
    position: absolute;
    cursor: pointer;
}

.search{
    width: 200px;
    top: 15px;
    left: 600px;
    position: absolute;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}

/*iconos*/

.explore{
    width: 20px;
    top: 19px;
    left: 1030px;
    position: absolute;
}

.Home{
    width: 30px;
    top: 15px;
    left: 910px;
    position: absolute;
}

.Like{
    width: 20px;
    top: 19px;
    left: 1065px;
    position: absolute;
}

.Mensaje{
    width: 20px;
    top: 20px;
    left: 955px;
    position: absolute;
}

.Newpost{
    width: 20px;
    top: 20px;
    left: 993px;
    position: absolute;
}

.User{
    width: 25px;
    top: 17px;
    left: 1100px;
    position: absolute;
}

