.userimg{
    position: absolute;
    width: 60px;
    margin-top: 70px;
    margin-left: 900px;
    

}

.user{
    font-family: Helvetica;
    position: absolute;
    font-size: 10px;
    margin-top: 85px;
    margin-left: 965px;
    color: gray;

}

.infouser{
    font-family: Helvetica;
    position: absolute;
    font-size: 10px;
    margin-top: 103px;
    margin-left: 965px;
    color: rgb(125, 120, 120);
    font-weight: 400;
}

.cambio{
        font-family: Helvetica;
        position: absolute;
        font-size: 8px;
        margin-top: 85px;
        margin-left: 1085px;
        color: rgb(0, 132, 255);
        font-weight: 700;
}

.massuges{
    font-family: Helvetica;
    position: absolute;
    font-size: 12px;
    margin-top: 145px;
    margin-left: 900px;
    color: gray;
    font-weight: 700;
}

.todo{
    font-family: Helvetica;
    position: absolute;
    font-size: 12px;
    margin-top: 145px;
    margin-left: 1085px;
    color: rgb(0, 132, 255);
    font-weight: 700;
}